

body{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


p{
	color: white;
	font-size: 42px;
}

a{
	color: white;
	font-size: 42px;
	text-decoration: underline;
}