

.models_main_cont{
	width: 100%;
	min-height: 200px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 20px 0px 20px 0px;
	gap: 20px;
}

.model_block{
	width: 100%;
	height: 400px;
	display: flex;
}
.model_block_img{
	width: 100%;
	height: 100%;
	position: relative;
}
.model_block_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.model_block_desc{
	position: absolute;
	background-color: white;
}
.model_block_desc p{
	font-size: 20px;
}


@media screen and (max-width: 1000px){

	.models_main_cont{
		grid-template-columns: repeat(3, 1fr);

	}

}

@media screen and (max-width: 900px){
	.models_main_cont{
		grid-template-columns: repeat(2, 1fr);

	}
}

@media screen and (max-width: 740px){
	.models_main_cont{
		grid-template-columns: repeat(1, 1fr);

	}
}