nav{
	width: 100%;
	height: 85px;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5px);
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	z-index: 999;
}
.nav_left{
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.nav_left a{
	color: white;
}
.nav_left button{
	color: white;
	background-color: transparent;
	border: none;
	width: 100px;
	text-align: unset;
	transition: 0.3s;
	cursor: pointer;
}
.nav_left button:hover{
	color: silver;
}
.nav_center{
	width: 50%;
	height: 100%;
}
.nav_right{
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.nav_right button{
	color: white;
	background-color: transparent;
	border: none;
	width: 70px;
	text-align: unset;
	transition: 0.3s;
	cursor: pointer;
	font-size: 28px;
	margin-right: 5px;
	transition: 0.3s;
}


.nav_right_shop button:hover{
	color: silver;
}



footer{
	width: 100%;
	height: 300px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: black;
}
footer a{
	color: white;
	font-size: 24px;
}